<?xml version="1.0"?>
<config>
    <modules>
        <Quafzi_CustomerGridOrderCount>
            <version>0.1.0</version>
        </Quafzi_CustomerGridOrderCount>
    </modules>
    <global>
        <models>
            <quafzi_customergridordercount>
                <class>Quafzi_CustomerGridOrderCount_Model</class>
            </quafzi_customergridordercount>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Quafzi_CustomerGridOrderCount>
                    <files>
                        <default>Quafzi_CustomerGridOrderCount.csv</default>
                    </files>
                </Quafzi_CustomerGridOrderCount>
            </modules>
        </translate>
        <events>
            <core_layout_block_create_after>
                <observers>
                    <quafzi_customergridordercount_adminhtml_block_html_before>
                        <class>quafzi_customergridordercount/observer</class>
                        <method>beforeBlockToHtml</method>
                    </quafzi_customergridordercount_adminhtml_block_html_before>
                </observers>
            </core_layout_block_create_after>
            <eav_collection_abstract_load_before>
                <observers>
                    <quafzi_customergridordercount_change_collection>
                        <class>quafzi_customergridordercount/observer</class>
                        <method>beforeCustomerCollectionLoad</method>
                    </quafzi_customergridordercount_change_collection>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
    </adminhtml>
</config>
